# Шаблон автозапуска. Путь /home/orangepi подставляется установщиком:
#   ./install.sh   (вручную: sed "s|/home/orangepi|$HOME|g" файл)
[Desktop Entry]
Type=Application
Name=Volume Drawer Widget
Comment=Шторка громкости снизу экрана (свайп вверх)
Exec=/home/orangepi/.local/bin/volume-drawer.py
X-GNOME-Autostart-enabled=true
Terminal=false
